body {
    font-family: 'Bangers', cursive;
    background-image: url(kepek/hatter2.jpg);
}

* p, label, legend {
    color: aliceblue;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    padding: 0;
}

header, nav, footer p {
    border-bottom: 2px solid blue;
    margin-bottom: 15px;
}

nav a {
    color: blue;
    text-decoration: none;
    border: 2px solid blue;
}

nav a:hover {
    color: red;
}

h1 {
    color: white;
    text-align: center;
}

nav ul li {
    margin: 0 10px;
}

footer p {
    text-align: center;
    margin-top: 15px;
    border: 2px solid blue;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
}

input[type=text], input[type=number], input[type=date], textarea {
    margin-bottom: 15px;
    padding: 8px;
    background-color: #000;
    border: 2px solid blue;
    color: aliceblue;
    width: 100%;
}

.checkbox-group, fieldset {
    margin-bottom: 15px;
}

.checkbox-group label, fieldset label {
    display: block;
    margin-bottom: 5px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: black;
    color: aliceblue;
    border: 2px solid blue;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: blue;
    color: red;
}

@media (max-width: 768px) {
    .form-container {
        width: 90%;
    }
}
.kepregenyflex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
  
.kepregeny {
    width: 300px;
    border: 5px solid darkblue;
    transition: border-color 0.3s;
    background-color: black;
}
  
.kepregeny:hover {
    border-color: red;
}
  
.kepregeny img {
    width: 100%;
    height: auto;
    max-height: 300px;
}
  
.kepregeny p {
    text-align: center;
}
